.cabeceraJuegos {
    position: relative;
    height: 1100px;
    background-color: #272727;
  }
  
  .fondo-container {
    position: relative;
  }

  .fondo-imagen{
    transition: opacity 0.5s ease;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: auto;
  }

  .botones-container {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical */
    left: 0; /* Ajusta la posición horizontal */
    right: 0;
    text-align: center;
  }
  
  .boton {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .boton-activo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .boton-inactivo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /*Estilos para el contenedor general del body de la página de inicio*/

.generalBody{
  color: white;
  margin-left: 18%;
  margin-right: 18%;
}

.flecha{
  color: grey;
  font-size: 20pt;
}

.flecha:hover{
  color: white;
  cursor: pointer;
}

.carteleraJuegos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.miniCarteleras{
    width: 380px;
    height: 220px;
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.juego{
  margin-bottom: 20px;
}

.texto{
  display: flex;
  justify-content: space-between;
}

.precio{
  margin-top: 0;
  margin-right: 20px;
  font-size: 15pt;
  font-weight: 600;
}

.nombre{
  margin-top: 5px;
  font-weight: 600;
  font-size: 13pt;
}